<div class="row flex-row card">
  <div name="index" class="index">
    <div class="circle">G</div>
    <h1>Google Search Handler</h1>
    <p>Just type in your query. Check out our operators for custom agents.</p>
    <p>We will sail over a new tab for you to pilot from there. Bon Voyage!</p>
    <paper-input placeholder="Keywords..." value="{{dynamicPath}}"></paper-input>
    <a href="[[googleRoot]][[dynamicPath]]" class="button" target="_blank">
      <paper-button>
        Google it!&nbsp;
        <iron-icon icon="my-icons:chevron-right"></iron-icon>
      </paper-button>
    </a>
  </div>
  <div class="operators">
    <h3>Insert Operators:</h3>
    <paper-button on-click="_insertSiteOperator">
      Site: OP
    </paper-button>
  </div>
</div>


