:host {
  display: block;

  padding: 10px;
}

paper-input {
  width: 320px;
  max-width: 100%;
  display: inline-block;
}
.card {
  display: flex;
}
.index {
  padding: 0 2rem .5rem 1rem;
}
.operators {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px dotted rgb(175, 216, 175);
  padding: 0 1rem;
}